spring:
  application:
    name: kotlin-smtp
  main:
    web-application-type: none

smtp:
  port: 2525
  hostname: crinity
  serviceName: ESMTP

  ssl:
    enabled: false                   # SSL/TLS 사용 여부
    certChainFile: /path/to/cert     # 인증서 체인 파일 경로
    privateKeyFile: /path/to/key     # 개인 키 파일 경로

logging:
  level:
    root: info